<h1>Master Cheat Mode</h1>
<h3><%= link_to("Clearings Mapper", clearings_path) %></h3>

<% @games_and_players.each do |game, player_ids| %>
  <b><%= link_to("#{game.name}", cheat_mode_game_path(id: game.id)) %></b><br>
  <ul>
  <% player_ids.each do |id| %>
    <li><%= link_to("Player #{id}", "http://localhost:9000/#/games/#{game.id}/players/#{id}", method: false) %></li>
  <% end %>
  </ul>
<% end %>
